.console{
    color: #fff;
    background: #1a1e21;
}
.console-input{
    border: none; 
    width: 85% !important;
}
.console-input:focus{
    outline: none;
}

.console-container{
    height: 300px; 
    width: 100%;
    overflow-y: scroll;
    padding: 5px;
}