@using HaLowNetwork.SX_NEWAH_EVK.Monitoring.Blazor.Services


<div id="login" class="margin-box">
    <input type="text" placeholder="Username" @bind="_user" class="form-control"/><br/>
    <input type="password" placeholder="Password" @bind="_password" class="form-control"/>
</div>

@code {
    private string _user;
    private string _password;
    
    [Inject]
    private IConfiguration _config { get; set; }

    protected override void OnInitialized()
    {
        SetValues();
    }

    private void SetValues()
    {
        if (string.IsNullOrEmpty(_user))
        {
            _user = _config.GetValue<string>($"{SshService.SSH_CONF_PATH}User");
            _password = _config.GetValue<string>($"{SshService.SSH_CONF_PATH}Password");
        }
    }

    public SshService Service(string host)
    {
        SetValues();
        return new SshService(host, _user, _password);
    }

}