@page "/Debug"
@using HaLowNetwork.WSG300NRC.Parse.Models
@using HaLowNetwork.WSG300NRC.Monitoring.Blazor.Services
@inject SerialPortService _serial

@if (_last == null)
{
    <p>Waiting for data...</p>
}
else
{
    <CollapsableDebugView Title="Local AP">
        <DebugItem Node="_last"></DebugItem>
    </CollapsableDebugView>
}






@code {

    protected override void OnInitialized()
    {
        _serial.ApReportReceived += Received;
    }

    private ApReport _last;

    private void Received(ApReport report)
    {
        _last = report;

        InvokeAsync((() => StateHasChanged()));
    }

}