@page "/Dhcp"
<h3>Dhcp</h3>
@foreach (var d in data)
{
    <div>
        @d
    </div>
}

@code {

    private List<string> data = new();

    protected override void OnInitialized()
    {
        data.AddRange(File.ReadAllLines("/var/lib/misc/dnsmasq.leases"));
        StateHasChanged();
    }

}