@using IronPython
@using System.Diagnostics
@using System.Text
@using IronPython.Hosting
@using Microsoft.Scripting.Hosting
@page "/"

<PageTitle>Index</PageTitle>

<h1 @onclick="run_cmd">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>


@code{

    private void run_cmd()
    {
        ProcessStartInfo start = new ProcessStartInfo();
        start.FileName = "/home/pi/nrc_pkg/script/start.py";
        start.Arguments = string.Format("4 3 US 0");
        start.UseShellExecute = false;
        start.RedirectStandardOutput = true;
        using(Process process = Process.Start(start))
        {
            using(StreamReader reader = process.StandardOutput)
            {
                string result = reader.ReadToEnd();
                Console.Write(result);
            }
        }
    }

    private void RunPy()
    {
        ScriptEngine engine = Python.CreateEngine();
        var scope = engine.CreateScope();

        List<string> parameters = new();
        parameters.Add("4"); 
        parameters.Add("3"); 
        parameters.Add("US"); 
        parameters.Add("0");

        scope.SetVariable("argv",parameters);
        var streamOut = new MemoryStream();
        var streamErr = new MemoryStream();
        engine.Runtime.IO.SetOutput(streamOut, Encoding.Default);
        engine.Runtime.IO.SetErrorOutput(streamErr, Encoding.Default);

        var s = engine.ExecuteFile("/home/pi/nrc_pkg/script/start.py", scope);

        using (StreamReader r = new StreamReader(streamOut))
        {
            Console.WriteLine(r.ReadToEnd());
            
        }
    }

}