@using IronPython
@using System.Diagnostics
@using System.Text
@using IronPython.Hosting
@using Microsoft.Scripting.Hosting
@using Renci.SshNet
@using SshNet
@page "/"

<div class="row">
    <div class="col-lg-12">
        <Dhcp></Dhcp>
    </div>
    <div class="col-lg-12">
        <MeshStatus></MeshStatus>
    </div>
    <div class="col-lg-12">
        <a href="/DeviceDetail?ip=192.168.2.46">Debug</a>
    </div>
</div>