@inject IConfiguration _config
@page "/"

<div class="row">
    <div class="col-lg-12">
        <Dhcp></Dhcp>
    </div>
    <div class="col-lg-12">
        <h3>Mesh status</h3>
        <MeshStatus></MeshStatus>
    </div>
    <div class="col-lg-3">
        <a href="/DeviceDetail?ip=@_host">Host device(@_host)</a>
    </div>
    <div class="col-lg-9">
        <StartComponent></StartComponent>
    </div>
</div>

@code
{

    private string _host = string.Empty;

    protected override void OnInitialized()
    {
        _host = _config.GetValue<string>("SshConnection:Host");
        
        StateHasChanged();
    }

}
