@inject IConfiguration _config
@page "/"

<div class="row">
    <div class="col-lg-12">
        <CollapsableView Title="DHCP" Show="true">
            <Dhcp></Dhcp>
        </CollapsableView>
    </div>
    <div class="col-lg-12">
        <CollapsableView Title="Mesh status" Show="true">
            <MeshStatus></MeshStatus>
            <a href="/DeviceDetail?ip=@_host">Host device(@_host)</a>
        </CollapsableView>
    </div>
    <div class="col-lg-3">
        <CollapsableView Title="Setup device" Show="true">
            <StartComponent></StartComponent>
        </CollapsableView>
    </div>
</div>

@code
{

    private string _host = string.Empty;

    protected override void OnInitialized()
    {
        _host = _config.GetValue<string>("SshConnection:Host");

        StateHasChanged();
    }

}